* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: white;
}

.navbardroite {
  display: flex;
  gap: 20px;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
}

.section1gaucheh1 {
  color: white;
}

.section1gauchep {
  color: gray;
}

.section1droite img {
  border-radius: 50%;
}

.btns button:first-child {
  background-color: #27ae60;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border: none;
}

.btns button:last-child {
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  border: white 1px solid;
  cursor: pointer;
}

.section2 {
  text-align: center;
}

.section2h1title {
  color: white;
}

.section2p {
  text-align: center;
  color: white;
  padding: 0 20%;
}

.section3 {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.reseauenfant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle1 {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #212121;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.circle2 {
  width: 10px;
  height: 10px;
  background-color: #27ae60;
  border-radius: 50%;
}

.reseauenfant h1 {
  color: white;
  font-size: 15px;
  margin: 0;
}

.reseauenfant p {
  color: white;
  font-size: 15px;
  margin: 0;
}

.section4 h1 {
  text-align: center;
}

.section4h1title {
  color: white;
}

.skillcontainer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.skillbox {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 240px;
  background-color: #212121;
}

.skillcontainer div:nth-child(2) {
  border-bottom: #27ae60 4px solid;
}

.skillbox img {
  width: 60px;
  height: 55px;
  margin: 30px;
}

.skillbox p {
  color: grey;
  padding: 0 30px;
  font-size: 2rem;
}

.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section5 h1 {
  text-align: center;
}

.section5h1title {
  color: white;
}

.statskillcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
  width: 1475px;
  height: 230px;
}

.statskill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statskill p:first-child {
  color: #4f4f4f;
  font-size: 50px;
  margin: 0;
}

.statskill p:last-child {
  color: #27ae60;
  font-size: 25px;
  margin: 0;
}

.section6 h1 {
  text-align: center;
}

.section6h1title {
  color: white;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 45px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  justify-self: center;
}

textarea {
  grid-column: span 2;
  background-color: transparent;
  border: 1px solid grey;
  justify-self: center;
  padding: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 1500px;
  height: 180px;
  outline: none;
  resize: none;
}

::placeholder {
  color: #666666;
  font-weight: 600;
}

button {
  grid-column: span 2;
  justify-self: center;
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 16px 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  text-align: center;
  color: grey;
  padding: 20px 0;
}

@media screen and (max-width: 450px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .navbardroite {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .section1 {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 0 20px;
  }

  .section1droite img {
    max-width: 100%;
    height: auto;
  }

  .section2p {
    padding: 0 20px;
  }

  .section3 {
    flex-wrap: wrap;
    gap: 30px;
  }

  .reseauenfant {
    width: 45%;
  }

  .skillcontainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .statskillcontainer {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    margin: 0 auto;
    border-radius: 10px;
  }

  form {
    grid-template-columns: 1fr;
    padding: 0 20px;
    row-gap: 20px;
  }

  textarea {
    width: 100%;
    grid-column: span 1;
    box-sizing: border-box;
  }

  input {
    width: 100%;
  }

  button {
    grid-column: span 1;
    width: 100%;
  }
}