.changeCouleur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: lightblue;
}

.mousePosition {
    width: 500px;
    height: 500px;
    border: 3px solid black;
}